.Board-Top-New{
background: #2a2c31;
}

.Board-Top-New h1{
  color: #ffffff;
}


.Board-Top-New .BoardTopCenter{
  color: #ffffff;
}

.Tabs-Button{
  background: #3e74b23f;
  box-shadow: 2px 2px 20px -4px rgba(0, 0, 0, 0.3)
}
.Tabs-Button.sel,
.Tabs-Button:hover
{
  background: #3e74b2a8;
  color: aliceblue;
}