.column{
  background-color: #3d4147;
}
.columns-wrapper{
  background-color: #2a2c31;
}
.column:nth-child(1){
  background-color: #3d4147;
}
.column:nth-child(2){
  background-color: #3d4147;
}
.column:nth-child(3){
  background-color: #3d4147;
}
.column:nth-child(4){
  background-color: #3d4147;
}
.column-name{
  background: transparent;
}
.column-name:after{
  background: #335dc5;
}