.Board-Top{
background: #2a2c31;
}

.Board-Top h1{
  color: #ffffff;
}

.Board-Top .BoardTopCenter{
  color: #ffffff;
}

.toBack .toBackLink{
  color:#3e75b2;
}
.Etaps{
  background: #ffffff;
  box-shadow: 2px 2px 20px -4px rgba(0, 0, 0, 0.3);
}