
 input[type="text"],
 input[type="date"],
 input[type="datetime"],
 input[type="email"],
 input[type="number"],
 input[type="search"],
 input[type="time"],
 input[type="url"],
 input[type="list"],
 input[type="password"],
 textarea,
 select 
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	/* border-bottom: 1px solid #ddd; */
	background: transparent;
	margin-bottom: 10px;
	font: 16px Arial, Helvetica, sans-serif;
  height: 45px;
  color: #fff;
}
 textarea{
	resize:none;
  overflow: auto;
  color: #fff;
}
 input[type="button"], 
 input[type="submit"]{
	/* -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6; */
	/* -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6; */
	/* box-shadow: inset 0px 1px 0px 0px #45D6D6; */
	/* background-color: #2CBBBB; */
	/* border: 1px solid #27A0A0; */
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
	padding: 8px 18px;
	text-decoration: none;
  text-transform: uppercase;
  border: none;
	/* border-bottom: 1px solid #ddd; */
	background: transparent;
}

 input[type="button"]:hover, 
 input[type="submit"]:hover {
  
}

datalist option{
  background: #061930c9;
}

input[type="button"],
input[type="submit"],
button,
.button
{
  box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	border: 1px solid #ddd;
  border: none;
	/* border-bottom: 1px solid #ddd; */
	background: transparent;
	margin-bottom: 10px;
	font: 16px Arial, Helvetica, sans-serif;
  height: 45px;
  color: #fff;
}
button.mini{
  border: none;
  font-size: 80%;
  color:#3e75b2;
}

input[type="submit"]:hover{

}

/********SUBMIT**********/


::-webkit-input-placeholder { /* Chrome */
  color: rgb(233, 233, 233);
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgb(233, 233, 233);
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgb(233, 233, 233);
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: rgb(233, 233, 233);
  opacity: 1;
}

input[type="list"]{
  width:auto;
  min-width:auto;
  max-width:100%;
}

.LabelInputList{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}