.Tile, .TileMaker,.Tiled{
  width: 300px;
  height: 250px;
  border-radius: 6px;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.03);
  background-color: #3d4147;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em 1em 0 0;
  padding: 8px;
  position: relative;
}

.Tile .name{
  display: block;
  font-size: 2em;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -1.3px;
  color: #ffffff;
  text-align: center;
  cursor:pointer;
}
.Tile .id{
  display: block;
  font-size: 1em;
  text-align: center;
  color: #3e75b2;
}
.Tile .descr{
  margin: 5px 0 0 0;
  display: block;
  font-size: 1em;
  text-align: center;
  color: #3e75b2;
}
.Tile .descr > span{
  display: inline-block;
  font-size: 12px;
  margin:0 5px 0 0;
  text-align: center;
  color: #3e75b2;
}

.TileMaker{

}
.TileMaker svg, .Tiled svg{
  fill: #3e75b2;
  cursor: pointer;
  width: 64px;
  height: 64px;
}
.Tile .Edit{
  position: absolute;
  right:8px;
  top:8px;
}
.Tile .Rem{
  position: absolute;
  right:8px;
  bottom:8px;
}
.Tile svg{
  transition: opacity 0.3s ease-in-out;
  opacity: 0.5;
  border:1px solid #3e75b2;
  border-radius: 5px;
  cursor: pointer;
  fill: #3e75b2;
}
.Tile .Rem svg{
  border:1px solid #b23e51;
  fill: #b23e51;
}
.Tile svg:hover{
  opacity: 1;
}
.Tile.Object{
  background: #314764;
}

.Tile .TileHighliter{
  display: flex;
  margin:10px auto;
  width:80px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}
.Tile .TileHighliter > span{
  display: inline-block;
  background: #4646462c;
  font-size: 12px;
  width:20px;
  height:20px;
  border-radius: 999em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
}
.Tile .TileHighliter > span:hover::before{
  display: block;
  position: absolute;
  right:-40px;
  top:-20px;
  padding: 2px 5px;
  content:"Всего";
  width:auto;
  border-radius:3px;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.3);
  background: #3e75b2;
  transition: all 0.5s ease-in-out;
  text-align: center;
  z-index: 9;
}
.Tile .TileHighliter > span.bluf{
  background: #1432b6;
  color: #ffffff;
}
.Tile .TileHighliter > span.redf{
  background: #b61414;
  color: #ffffff;
}
.Tile .TileHighliter > span.orgf{
  background: #b65d14;
  color: #ffffff;
}
.Tile .TileHighliter > span.bluf:hover::before{
content:"Новые";
}
.Tile .TileHighliter > span.redf:hover::before{
content:"Просрочены";
background: #b61414;
}
.Tile .TileHighliter > span.orgf:hover::before{
content:"Истекают";
background: #b65d14;
}