/* @import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,700|Roboto:400,400i,500,700'); */


/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:300, 400'); */


/* @import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto'); */

@import './css/reset.css';
body,
html {
    font-family: 'Exo 2', sans-serif;
    display: block;
    width: 100%;
    height: 100%;
    color:#fff;
}

div {
    box-sizing: border-box;
}

a{
  text-decoration: none;
  color:#3e75b2;
}
#root {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.Nav {
    display: flex;
    flex-basis: 60px;
    width: 60px;
    min-width: 60px;
    height: 100%;
    background-color: #202225;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 9px 2px rgba(0, 0, 0, 0.26);
}

.Root {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #2a2c31;
}

.Bar {
    width: 100%;
    min-width: 300px;
    max-width: 500px;
    background: #202225;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.Panel {
    display: flex;
    flex:1;
    flex-direction: column;
    width: 300px;
    min-width: 300px;
    background: #30363d;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.Content {
    display: flex;
    flex-direction: column;
    width: auto;
    flex:auto;
    /* min-width: 300px; */
    height: 100%;
    /* min-height: 100%; */
    /* min-width: 100%; */
    max-height: 100%;
    /* background: #314964; */
    /* overflow-x: auto; */
    /* overflow-y: auto; */
    transition: all 0.3s ease-in;
    overflow: hidden;
    overflow-x: auto;
}

.ContentInner{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 300px;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    /* background: #314964; */
    overflow-x: auto;
    overflow-y: auto;
}


.Divs {
    display: block;
    border: 5px solid red;
    overflow: hidden;
    overflow-x: auto;
}

.Bar,.Panel{
  padding: 5px;
  box-shadow: 0 0 9px 0px rgba(0, 0, 0, 0.2);
}

.InnreBarParent{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row !important;
}
.InnerBar{
  display: flex;
  justify-content: flex-start;
  /* align-items: flex-start; */
  flex-direction: column;
  width: 300px;
  height: 100%;
  border-radius: 6px;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.03);
  background-color: #3d4147;
  background-color: #2f3136;
  padding:10px;
  overflow: hidden;
  overflow-y: auto; 
}



@import './newcss/nav.css';
@import './newcss/bar.css';
@import './newcss/board.css';
@import './newcss/root.css';
@import './newcss/task.css';
@import './newcss/containers.css';
@import './newcss/button.css';
@import './newcss/input.css';
@import './newcss/tile.css';
@import './newcss/tileboard.css';
@import './newcss/chat.css';

@import './newcss/messages.css';
@import './newcss/map.css';
@import './newcss/svg.css';
@import './newcss/rows.css';
@import './newcss/fakeselect.css';
@import './newcss/search.css';

.Button {
    width: 140px;
    height: 28px;
    text-align: center;
    font-size: 10px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    color: #ffffff;
    border-radius: 2px;
    border: solid 1px rgba(62, 117, 178, 0.7);
    background-color: #3e75b2;
}
.Loading{
  display: flex;
  width: 50px;
  height: 50px;
  overflow: hidden;
  margin: 0 auto;
  align-self: center;
  justify-self: center;
}

button{
  display: block;
  border:0 none transparent;
  margin:0;
  padding:0;
}

.Row{
  display: flex;
  flex-direction: row !important;
  justify-content: flex-start;
  align-items: flex-start;
}
.Row2{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.Col{
  display: flex;
  flex-direction: column;
}
.OvH{
  overflow: hidden;
}
.OvY{
  overflow-y:auto;
  overflow-x:hidden;
}
.OvX{
  overflow-y: hidden;
  overflow-x: auto;
}
.Pad{
  padding: 5px;
}
.Pad10{
  padding: 10px;
}
.Pad20{
  padding: 20px;
}
.button:hover,
.Button:hover,
.Button2:hover,
.Button3:hover
{
  opacity: 0.5;
}
Mar5{
  margin:5 auto;
}


.maxiCounter{
  position: relative;
  top:10px;
  right:10px;
  display: flex;
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  background: #45586e9f;
  width: 20px;
  height: 18px;
  color:#fff;
  vertical-align: middle;
  font-size:10px;
  align-self: center;
  justify-self: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.miniCounter{
  position: absolute;
  top:-5px;
  right:-5px;
  display: flex;
  text-align: center;
  border-radius: 999em;
  overflow: hidden;
  background: #3e75b2;
  width: 16px;
  height: 16px;
  color:#fff;
  vertical-align: middle;
  font-size:10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.TopCounter{
  position: absolute;
  top:-5px;
  right:-5px;
  display: flex;
  text-align: center;
  border-radius: 999em;
  overflow: hidden;
  background: #3e75b2;
  width: 16px;
  height: 16px;
  color:#fff;
  vertical-align: middle;
  font-size:10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.TopCounter{
  position: absolute;
  border-radius: 10px;
  right: -5px;
  top:-5px;
  z-index: 9;
  width:20px;
  height:20px;
}