/* @import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,700|Roboto:400,400i,500,700'); */
/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:300, 400'); */
/* @import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto'); */

@import './css/reset.css';


body, html{
  font-family: 'Exo 2', sans-serif;
  display:block;
  width:100%;
  height:100%;
}

div{
  box-sizing: border-box;
}

#root{
  display:block;
  width:100%;
  height:100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.Nav{
  display: flex;
  flex-basis: 60px;
  width: 60px;
  min-width: 60px;
  height: 100%;
  background-color: #202225;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Root{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #2a2c31;
}

.Bar{
  width:300px;
  min-width:300px;
  background: #202225;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.Panel{
  display: flex;
  flex-direction: column;
  width:300px;
  min-width:300px;
  background: #30363d;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.Content{
  display: flex;
  flex-direction: column;
  width:100%;
  min-width:300px;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  /* background: #314964; */
  overflow-x: auto;
  overflow-y: auto;
}


.Divs{
  display: block;
  border:5px solid red;
  overflow: hidden;
  overflow-x:auto; 
}

@import './newcss/nav.css';
@import './newcss/bar.css';
@import './newcss/board.css';
@import './newcss/root.css';
@import './newcss/task.css';
@import './newcss/containers.css';
@import './newcss/button.css';
@import './newcss/input.css';
@import './newcss/tile.css';
@import './newcss/tileboard.css';