.butter{
  background: #fff;
  border: 1px solid;
  color: #2b2e25;
  box-shadow: 2px 2px 12px 0px #2b2e25;
  margin:10px auto;
  display: block;
  width:200px;
  height: auto;
  padding: 10px 0;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
}
.butter:hover{
  color: coral;
}
.butter.mini{

}