.infoWrapper{
  display: block;
  position: fixed;
  z-index: 99;
  top:20px;
  right:20px;
  min-width:300px;
  height: auto;
  max-height:600px;
  overflow-y: auto;
}


.info{
  display: block;
  /* position: fixed; */
  /* top:20px; */
  /* right:20px; */
  background: #98cc1ef3;
  color: black;
  padding: 20px;
  margin:10px auto;
  overflow: hidden;
  /* box-shadow: 4px 4px 15px 2px rgba(0,0,0,0.9); */
}

.info.error{
  
  background: #cc2a1ef3;
}

.info .close{
  cursor: pointer;
  margin:0;
  position: absolute;
  right:0px;
  top:0px;
}
.info .close svg{
width:26px;
height:26px;
}
.infoWrapper .info{
  box-sizing: border-box;
  position: relative;
  width: 100%;
  margin:10px auto;
}