.task{
  cursor: pointer;
  display:block;
  width:100%;
  overflow: hidden;
  height:auto;
  min-height:60px;
  padding:5px 5px 5px;
  box-sizing: border-box;
  background: #fafafa;
  border-radius: 5px;
  margin:5px auto;
  color:#333;
}

.task.create{
  height:auto;
  background: #36516ebb;
}


.task{
  background: #2C3F51;
  color:#E3FBFF;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
}
.task[data-priority="1"]{
  background: rgba(243, 44, 9, 0.63);
}
.task[data-priority="2"]{
  background: rgba(243, 169, 9, 0.473);
}
.task[data-priority="3"]{}
.task[data-priority="4"]{
  background: rgba(243, 227, 9, 0.486);
}
.task[data-priority="5"]{
  background: rgba(192, 243, 9, 0.541);
}
.task[data-priority="6"]{
  background: rgba(9, 243, 134, 0.438);
}
.task[data-priority="0"]{}
.task .priority{
  display:block;
  font-size:80%;
  background: #1b273671;
  padding:5px 10px;
  text-align: left;
  width:100%;
  border-radius: 3px;
}
.task .priority:before{
  content:"приоритет:";
  font-size:70%;
  display:block;
}

.task .open, .card .open, .card button{
  border:0px none;
  background: rgb(52, 107, 151);
  color:#FFFFFF;
  width:80px;
  text-align: center;
  border-radius: 3px;
  cursor:pointer;
}
.card .open, .card button{
  width:200px;
  padding:6px 10px;
}

.task .open:hover{
  background: rgba(47, 96, 136, 0.562);
}
.task{
  max-height: auto;
  height: auto;
  text-align: center;
}

/*********TASK*/
.task:hover{
  background: rgb(47, 102, 104);
}
/*********TASK*/


.column{
  box-shadow: 2px 2px 5px 1px rgb(0, 0, 0);
}
.column .task{
  /* box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.9); */
}

.column:nth-child(1){
  background: rgba(214, 48, 48, 0.644);
}

.column:nth-child(2){
  background: rgba(214, 148, 48, 0.644);;
}

.column:nth-child(3){
  background: rgba(214, 48, 178, 0.644);;
}

.column:nth-child(4){
  background: rgba(48, 134, 214, 0.644);;
}

.column:nth-child(5){
  background: rgba(87, 214, 48, 0.644);;
}

.column .task:nth-child(even){
  background: #003135ce;
}
.column .task:nth-child(odd){
  background: #1b1919ee;

}

.column-content > .task{
  
}
.column-content > .task > .lastMessage{
  margin:5px auto;
  text-align: left;
  padding:10px;
  max-height: 100px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background: #dadada1c;
}
.pWrapper{
  display: block;
  text-align: left;
  margin:0 auto;
  padding:5px 5px;
}
.pWrapper .button{
  
}

.column .taskHead{
  background: #333;
  padding: 10px;
}

.pWrapper:nth-child(even){
  background: rgba(47, 59, 70, 0.452);
}
.pWrapper:nth-child(odd){
  background: rgba(20, 29, 37, 0);
}
.mini{
  font-size: 12px;
}
.cntr{
  text-align: center;
  padding: 4px;
}