.tile{
  display: inline-block;
  position: relative;
  background: #21313F;
  border: 1px solid #1B2126;
  margin:2px;
  box-sizing: border-box;
  width:280px;
  min-width: 280px;
  min-height:220px;
  padding:10px;
  cursor:pointer;
  color:#FFF;
  overflow: hidden;

}
.tile-name, .column-name{
  font-size: 20px;
  font-weight: bold;
  width:100%;
  padding:10px;
  display: block;
  background: rgb(32, 59, 80);
  margin: 0 0 5px;
  border-radius: 6px;
}
.tile-id{
  color: rgba(178, 194, 207, 0.199);
  font-size: 10px;
}
.tile-addr{
  color: rgb(178, 194, 207);
  font-size: 12px;
  padding: 2px 5px;
  margin:5px;
  border-bottom: 1px solid #21313F;
}

.tile-cod{
  font-size: 12px;
  color: rgb(178, 194, 207);
  margin:5px auto 0;
}

.tile:hover{
  background: rgb(16, 29, 39);
}

.makeTileWrap{
  position: fixed;
  width:100%;
  z-index: 99;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.makeTileForm{
  flex:1;
  background: rgb(16, 29, 39);
  position: relative;
  min-width: 300px;
  width:100%;
  max-width: 600px;
  padding: 50px;
  overflow: hidden;
}
.makeTileForm input,.makeTileForm input[type="list"]{
  position: relative;
  box-sizing: border-box;
  width: 100% !important;
  min-width: 200px !important;
  display: block;
}


.makeTileForm form{
  display: block;
}
.makeTileForm form > div{
  display: block;
  float: none;
  clear: both;
}