.photo {
    width: 100%;
}

.modal {
    background-image: linear-gradient(to top, #212433, #282c3e);
    color: white;
    font-family: Avenir;
    font-size: 14px;
}

.bigButton {
    height: 60px;
    background-color: #17191f;
    display: flex;
    padding: 10px 3%;
    margin-top: -35px;
    justify-content: center;
    align-items: center;
}


form div {
  text-align: left;
}

input[type="radio"] {
  height:10px;
}
.userCloud2{
  background: #158b42dc;
  overflow: hidden;
}

.msgCloud{
  background: blue;
  overflow: hidden;
}

.red {
    background-color: red;
    color: blue
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.sphere {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    font-size: 50%;
    position: relative;
    box-shadow: inset -1px -1px 10px #000, 1px 1px 2px black, inset 0px 0px 1px black;
    display: inline-block;
    margin: 1%;
}

.sphere::after {
    background-color: rgba(255, 255, 255, 0.3);
    content: '';
    height: 45%;
    width: 12%;
    position: absolute;
    top: 4%;
    left: 15%;
    border-radius: 50%;
    transform: rotate(40deg);
}


.sphere:hover {
    height: 20px;
    width: 20px;
}

.pinBlue {
    background: url('/icons/pinBlue.png');
    background-size: contain;
    background-repeat: no-repeat;
}


.pinBlueDark {
    background: url('/icons/pinBlueDark.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.pinBlueGrey {
    background: url('/icons/pinBlueGrey.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.pinGreen {
    background: url('/icons/pinGreen.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.pinGreenDark {
    background: url('/icons/pinGreenDark.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.pinPurp {
    background: url('/icons/pinPurp.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.pinPurpDark {
    background: url('/icons/pinPurpDark.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.pinRed {
    background: url('/icons/pinRed.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.pinRedDark {
    background: url('/icons/pinRedDark.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.pinYellow {
    background: url('/icons/pinYellow.png');
    background-size: contain;
    background-repeat: no-repeat;
}
