.Board-Top-New{
display: flex;
flex-direction: row;
height: auto;
min-height: auto;
width: 100%;
min-width: 100%;
background: #2a2c31;
justify-content: center;
align-content: center;
}

.Board-Top-New h1{
  padding:0 0 0;
  font-size: 1vw;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -1.1px;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}


.Board-Top-New .BoardTopCenter{
  display: flex;
  width:100%;
  flex-direction: row;
  padding:0 0 0;
  color: #ffffff;
  align-self: center;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.Board-Top-New .BoardTopCenter > *{
  margin:0;
  margin:0 10px 0;
}

.toBack{
  display:flex;
  width: auto;
  height: auto;
  cursor: pointer;
  align-self: center;
  text-align: center;
  justify-content: center;
  align-content: center;
}
.toBack svg{
  height: 28px;
}
/* .Board{
  display: flex;
  flex-direction: column;
  height:100%;
  width:auto;
  overflow: hidden;
}
.Board-Content{
  display: flex;
  flex-direction: row;
  overflow-y:hidden;
  overflow-x:hidden;
  align-items: flex-start;
  justify-content: flex-start;
  height:100%;
  max-height: 100%;
} */

.Board{
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: row;
  min-height:100%;
  width:100%;
  min-width:auto;
  max-width:100%;
  overflow: hidden;
  padding: 0 8px;
}
.Board-Content-Wrap{
  display: flex;
  flex-direction: column;
  overflow-y:hidden;
  overflow-x:hidden;
  align-items: flex-start;
  justify-content: flex-start;
  height:100%;
  max-height: 100%;
  width:100%;
  min-width:auto;
  max-width:100%;
  padding: 0;
}
.Board-Content{
  display: flex;
  flex-direction: row;
  overflow-y:hidden;
  overflow-x:auto;
  align-items: flex-start;
  justify-content: flex-start;
  height:100%;
  max-height: 100%;
  min-height: auto;
}


.Board-Top-Tabbed{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.BoardTabs{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto 10px;
}

.Tabs-Button{
  transition: all 0.3s ease-in-out;
  margin: 0 5px 0;
  display: block;
  padding: 2px 5px;
  background: #3e74b23f;
  width:100px;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 2px 2px 20px -4px rgba(0, 0, 0, 0.3)
}
.Tabs-Button.sel,
.Tabs-Button:hover
{
  background: #3e74b2a8;
  width: 120px;
  color: aliceblue;
}