.button, button{
  display: block;
  background: #5492af;
  text-align: center;
  padding: 5px;
  width:auto;
  cursor: pointer;
  border-radius: 2px;
  border: solid 1px rgba(62, 117, 178, 0.7);
  background-color: #3e75b2;
}