.FakeSelect{
  position: relative;
  /* overflow: hidden; */
  background: #3d4147;
  width:100%;
  height: 40px;
  border-radius: 3px;
  /* z-index: 0; */
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  /* overflow: hidden; */
}
.FakeSelect:after{
  /* position: absolute; */
  /* content: "V"; */
  /* right:10px; */
  /* top:10px; */
}
.FakeSelect .FakeSelected{
  width: 100%;
  border:1px salmon;
  height: 100%;
}
.FakeSelect .FakeOptionsContainer{
  position: absolute;
  /* bottom:-100%; */
  top:42px;
  z-index:1;
  width:100%;
  background: #35373b;
  
}

.FakeSelect .FakeOptionsContainer.Out{
  position: fixed;
  /* bottom:-100%; */
  top:10px;
  left: 0;
  right: 0;
  /* bottom: 0; */
  margin:0 auto 0;
  width: auto;
  height: auto;
  max-width: 340px;
  max-height: 90%;
  z-index:9;
  background: #2e2e2eb6;
  padding: 10px 5px;
  overflow: hidden;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.FakeSelect .FakeOptionsContainer .ContainerOuter
{
 width: 100%;
 max-width: 300px;
 height: 100%;
 max-height: 100%;
 overflow: hidden;
 padding: 5px;
 background: #2e2e2eb6;
}
.FakeSelect .FakeOptionsContainer .ContainerInner
{
 width: 100%;
 height: 100%;
 overflow: auto;
}

.FakeOption{
  cursor: pointer;
  padding: 5px 5px;
  position: relative;
  background: #3d4147;
  width:100%;
  height: auto;
  min-height: 36px;
  margin:2px 0;
  border-radius: 3px;
  display: flex;
  overflow: hidden;
  justify-content: flex-start;
  align-items: center;
}


.FakeSelect .FakeOptionsContainer .FakeOption .FakeIcon{
  width:36px;
  height:36px;
  min-width:36px;
  min-height:36px;
  background: #232529;
  margin: 0 5px 0 0;
  overflow: hidden;
  border-radius: 3px;
  text-align: center;
  vertical-align: middle;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}
.FakeSelect .FakeOptionsContainer .FakeOption .FakeIcon img{
  display:block;
  width:auto;
  min-width:100%;
  height:100%;
  min-height:100%;
  background-size: cover;
}
.FakeSelect .FakeOptionsContainer .FakeOption .FakeContent{
  width:auto;
}
.FakeSelect .FakeSelected{
  width:100%;
  text-align: left;
  overflow: hidden;
}
.FakeSelect .FakeOptionsContainer .FakeOption{
  width:100%;
  height:100%;
  max-height: 100%;
  text-align: left;
  overflow: hidden;
}
.FakeSelect > .Svg{
  position: relative;
  width:auto;
  height:100%;
  cursor: pointer;
  /* z-index: 1; */
}
.FakeSelect > .Svg svg{
  fill: #316bc2;
}
.FakeSelect .FakeOptionsContainer .FakeOption:hover{
  background: #295ca8;
  background: #1b3968;
  background-color: #1b3968;
  color: aliceblue;
}