.mapModal{
  
}
.mapModal ul li{
  padding: 5px;
  border-bottom: 1px solid #1868aa15;
}
.mapModal .button{
  background: #1868aa;
  padding:5px 10px;
  display: inline-block;
  margin:10px auto;
  border-radius: 5px;
}