.left-nav {
  display: flex;
  flex-direction: column;
  width: 109px;
  background-color: #202225;
}
.left-nav svg{
  fill: #3e75b2;
}

.Nav .nav{
  display: block;
  width: 100%;
  height: 40px;
}
.Nav .nav svg{
  fill: #3e75b2;
}