.searchTags{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.searchTagsRow{
  margin:5px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.searchTag{
  margin:2px 4px;
  cursor:pointer;
  text-align: center;
  overflow: hidden;
  width:auto;
  padding:5px 10px;
  border-radius: 2px;
  background: #3d4147;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  color: #ffffff;
}
.searchTag{

}


.searchTag input[type="checkbox"]{
  display: none;
}

.searchTag:hover{
  background: #3e74b293;
}
.searchTag.sel,
input[type="checkbox"]:checked + label.searchTag{
  background: #3e75b2;
}

.SearchBody .BlockHeader{
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #ffffff;
  margin:10px 0 10px;
}
.SearchBody .BlockHeader:after{
  content: ' ';
  display: block;
  width:200px;
  height: 1px;
  margin:10px 0 0;
  background: #3d4147;  
}

.SearchBody .BlockContent{
  margin: 0 0 0 20px;
  /* background: #7979791e; */
  padding:10px 5px 5px;
  border-radius: 3px;
}

.SearchBody .BlockContent .SearchTask .UserRow{
   margin:20px 0 0;
}
.SearchBody .BlockContent .SearchTask{
  margin: 6px 0 10px;
  padding:20px 10px 5px;
  border-radius: 3px;
  background: #3156803d;
  cursor:pointer;
}
.SearchBody .BlockContent .SearchTask .SearchTaskTop{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.SearchBody .BlockContent .SearchTask .SearchName{
  margin: 0 5px 0;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  color: #ffffff;
  width:auto;
  /* max-width: 180px; */
  overflow: hidden;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.SearchBody .BlockContent .SearchTask .SearchStatus{
  background: #3d4147;
  padding: 4px 2px;
  border-radius: 2px;
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 0 0;
  font-size: 11px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  color: #ffffff;
  width: 70px;
  min-width: 70px;
  overflow: hidden;
}

.SearchBody .BlockContent .SearchTask .SearchEndDate{
  background: #3d4147;
  padding: 4px 2px;
  border-radius: 2px;
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px 0;
  font-size: 11px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  color: #ffffff;
  width: 70px;
  min-width: 70px;
  overflow: hidden;
}

.SearchBody .BlockContent .SearchObjects{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.SearchBody .BlockContent .SearchObjects .SearchName{
  width:100%;
  width: 60%;
}
.SearchBody .BlockContent .SearchObjects .SearchStatus{
  background: #3d4147;
  padding: 4px 6px;
  border-radius: 2px;
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px 0;
  font-size: 11px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  color: #ffffff;
  width: auto;
  width: 38%;
}
.SearchBody .BlockContent > .UserRow{
  margin: 6px 0 10px;
  padding:10px;
  border-radius: 3px;
  /* background: #3e74b236; */
}
.SearchBody .BlockContent .SearchMessage{
  margin: 6px 0 10px;
  padding:10px;
  border-radius: 3px;
  background: #3156803d;
  cursor:pointer;
}
.SearchBody .BlockContent .SearchObjects{
  margin: 6px 0 10px;
  padding:20px 10px;
  border-radius: 3px;
  background: #3156803d;
  cursor:pointer;
}
.SearchBody .BlockContent .SearchMessage:hover,
.SearchBody .BlockContent .SearchTask:hover,
.SearchBody .BlockContent .SearchObjects:hover{
  background: #1170af5e;
}

.SearchBody .BlockContent .SearchMessage{}
.SearchBody .BlockContent .SearchDoc{}
.SearchBody .BlockContent .SearchUser{}
.SeacrhInner{
  overflow: auto;
  width: 100%;
  height: auto;
}
.Bar{
  overflow: hidden;
}
.Bar .Search{
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.SearchTop{
  height: auto;
}
.SearchBody{
  /* min-height: 100%; */
  /* height: auto; */
  height: 100%;
  overflow: auto;
}
.SearchBody .SeacrhInner{
  height: 100%;
}