
/******************SVG**************/

.Svg{
  display: block;
  width:100%;
  height:100%;
  /* max-width: 32px;
  max-height: 32px;
  margin:0 auto; */
}
.Svg.Inline{
  display: inline-block;
  /* height: auto;
  width: auto;
  max-width: 32px;
  max-height: 32px; */
  margin:0 auto;
}
.Svg svg{
  width:100%;
  height: 100%;
}

.nav{
  width:100%;
  height: 20px;
}
/******************SVG**************/

.SvgDel
{
  fill:rgb(138, 11, 11);
  color:rgb(138, 11, 11);
  height:18px;
}
.SvgDeps
{
  fill:#346296;
  color:#346296;
}