.task{
  width: 100%;
  height: auto;
  border-radius: 6px;
  border: 1px solid #6e8497;
  /* background-color: #3d4147; */
  background: transparent;
  background-color: transparent;
  border-radius: 6px;
}
.column .task:nth-child(odd), .column .task:nth-child(even){
  background: transparent;
  background-color: transparent;
}
.pWrapper:nth-child(odd),.pWrapper:nth-child(even) {
  background: transparent;
}
.column .taskHead {
  background: transparent;
  padding: 10px;
}

.Task{
  width:100%;
  border-radius: 6px;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.03);
  border-radius: 6px;
  border: solid 1px #6e8497;
  background-color: #3d4147;
  min-height: 120px;
  margin: 5px auto;
  padding:10px;
  display: flex;
  flex-direction: column;
  /* align-content: flex-start; */
  /* align-items: flex-start; */
  /* justify-content: flex-start; */
  /* justify-items: flex-start; */
}
.Task > div{
}

.Task .Name{
  cursor: pointer;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  color: #ffffff;
}
.Task .Content{

}
.Task .TaskChat{
  margin: 5px 0;
}
.Task .TaskChat .ChatName{
  font-size: 10px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #ffffff;
}
.Task .TaskChat .ChatMessage{

  font-size: 10px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #a3b6c5;
  overflow: hidden;
  /* text-overflow: ellipsis; */
  /* height: 12px; */
}
.Task .endDate{
  opacity: 0.7;
  font-size: 11px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  color: #a3b6c5;
  margin:5px 0;
}
.Task .TaskUser{

}
.Task .TaskUserName{

}
.Task .TaskUserPhoto{

}
.Task .Bottom{
  display: flex;
  width: 100%;
  flex-direction: row;
}
.Task .Bottom > div{
  border-radius: 3px;
  width:36px;
  height:36px;
  /* border:1px solid #346296; */
  margin:10px 5px 0;
}

.Task .Bottom{
  width:100%;
  height:100%;
  /* fill: #346296; */
  cursor: pointer;
}
.linked{
  cursor: pointer;
}

.Task.Sel{
  background: #3e75b2;
  border: solid 1px #3e75b2;
  color:#fff;
}

.Task.Sel{
   /* background: #4949493a; */
   /* border:1px solid #346296; */
   /* box-shadow: 0 0 8px 0px #00f7ff; */
}
.Task.Child{
   background: #304d6d;

}

.Task.Sel .Bottom svg{
  fill: #346296;
}
.Task.Sel .Bottom > div.Childs{
/* border:1px solid #346296; */
/* box-shadow: 0 0 8px 0px #00f7ff; */

}
.Task .Bottom > div.Childs .Svg svg{
  border:1px solid #346296;
}
.Task.Sel .Bottom .Svg svg{
/* border:1px solid #346296; */
/* box-shadow: 0 0 8px 0px #00f7ff; */
  /* background: #3e75b2 */
  fill: #123155;
}
.Task{
  position: relative;
}
.Task .Delete{
  position: absolute;
  right: 10px;
  cursor: pointer;
}