.TileBoard{
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.TileBoardTop{
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.TileBoard .TileBoardContent{
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.TileBoardTop .ButtonTo{
  display: flex;
  align-self: flex-start;
  justify-self: flex-start;
}
.TileBoardTop .TileBoardTopName,
.TileBoardTop .TileBoardTopCenter{
  display: flex;
  width:100%;
  text-align: center;
  align-self: center;
  justify-self: center;
  color:#fff;
  font-size: 24px;
}
.TileBoardTop .TileBoardTopName h1,
.TileBoardTop .TileBoardTopCenter h1{
  text-align: center;
  /* width:100%; */
  color:#fff;
  font-size: 24px;
}

.TileBoardTop .TileBoardTopCenter{
  display: flex;
  width:100%;
  flex-direction: row;
  padding:0 0 0;
  color: #ffffff;
  align-self: center;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.TileBoardTop .TileBoardTopCenter > *{
  margin:0;
  margin:0 20px 0;
}