.Board-Top-New{
display: flex;
flex-direction: row;
height: auto;
min-height: auto;
width: 100%;
min-width: 100%;
justify-content: center;
align-content: center;
margin: 0;
}

.Board-Top-New h1{
  padding:0 0 0;
  font-size: 1vw;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -1.1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}


.Board-Top-New .BoardTopCenter{
  display: flex;
  width:100%;
  flex-direction: row;
  padding:0 0 0;
  align-self: center;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.Board-Top-New .BoardTopCenter > *{
  margin:0;
  margin:0 10px 0;
}

.toBack{
  display:flex;
  width: auto;
  height: auto;
  cursor: pointer;
  align-self: center;
  text-align: center;
  justify-content: center;
  align-content: center;
}
.toBack svg{
  height: 28px;
}
.Board{
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: row;
  min-height:100%;
  width:100%;
  min-width:auto;
  max-width:100%;
  overflow: hidden;
  padding: 0 8px;
}
.Board-Content-Wrap{
  display: flex;
  flex-direction: column;
  overflow-y:hidden;
  overflow-x:hidden;
  align-items: flex-start;
  justify-content: flex-start;
  height:100%;
  max-height: 100%;
  width:100%;
  min-width:auto;
  max-width:100%;
  padding: 0;
}
.Board-Content{
  display: flex;
  flex-direction: row;
  overflow-y:hidden;
  overflow-x:auto;
  align-items: flex-start;
  justify-content: flex-start;
  height:100%;
  max-height: 100%;
  min-height: auto;
}


.Board-Top-Tabbed{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom:10px;
}
.BoardTabs{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto 0;
  height: 40px;
  min-height: 40px;
}

.Tabs-Button{
  transition: all 0.3s ease-in-out;
  position: relative;
  margin: 0 0 0;
  display: block;
  padding: 0 20px;
  height: auto;
  width:auto;
  text-align: center;
  cursor: pointer;
  /* border-radius: 3px; */
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; */
  /* border:1px solid saddlebrown; */
  /* overflow: hidden; */
  box-sizing: border-box;
}

.Tabs-Button .text{
  text-align: center;
  width: auto;
  padding: 10px 0;
  margin: 0;
  z-index: 9;
  background: rgba(0,0,0,0.1);
  position: relative;
  color:#fff5;
}
.Tabs-Button .text::after,
.Tabs-Button .text::before
{
  position: absolute;
  top:0;
  bottom: 0;
  width:0;
  height:100%;
  overflow:hidden;
  content: "";
  border-bottom:0px solid transparent;
}

.Tabs-Button .text::before
{
  left: -20px;
  border-top:40px solid rgba(0,0,0,0.1);
  border-right:0px solid transparent;
  border-left:20px solid transparent;
}
.Tabs-Button .text::after
{
  right:-20px;
  border-top:40px solid rgba(0,0,0,0.1);
  border-right:20px solid transparent;
  border-left:0px solid transparent;
}

.Tabs-Button .bg
{
  position: absolute;
  top:0px;
  left: 0px;
  right: 0px;
  content: ' ';
  width: auto;
  z-index: 1;
}

.Tabs-Button.active .text::after,
.Tabs-Button.sel .text::after,
.Tabs-Button:hover .text::after,
.Tabs-Button.active .text::before,
.Tabs-Button.sel .text::before,
.Tabs-Button:hover .text::before{
  border-top:40px solid rgba(0, 0, 0, 0.123);
}

.Tabs-Button.active .text::after,
.Tabs-Button.sel .text::after,
.Tabs-Button:hover .text::after{
  border-right:20px solid transparent;
}
.Tabs-Button.active .text::before,
.Tabs-Button.sel .text::before,
.Tabs-Button:hover .text::before{
border-left:20px solid transparent;
}

.Tabs-Button.active .text,
.Tabs-Button.sel .text,
.Tabs-Button:hover .text
{
  background: rgba(0, 0, 0, 0.123);
  color:#fff;
}