.Board-Top-New{
display: flex;
flex-direction: row;
height: auto;
min-height: auto;
width: 100%;
min-width: 100%;
justify-content: center;
align-content: center;
margin: 0;
}

.Board-Top-New h1{
  padding:0 0 0;
  font-size: 1vw;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -1.1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}


.Board-Top-New .BoardTopCenter{
  display: flex;
  width:100%;
  flex-direction: row;
  padding:0 0 0;
  align-self: center;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.Board-Top-New .BoardTopCenter > *{
  margin:0;
  margin:0 10px 0;
}

.toBack{
  display:flex;
  width: auto;
  height: auto;
  cursor: pointer;
  align-self: center;
  text-align: center;
  justify-content: center;
  align-content: center;
}
.toBack svg{
  height: 28px;
}
.Board{
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: row;
  min-height:100%;
  width:100%;
  min-width:auto;
  max-width:100%;
  overflow: hidden;
  padding: 0 8px;
}
.Board-Content-Wrap{
  display: flex;
  flex-direction: column;
  overflow-y:hidden;
  overflow-x:hidden;
  align-items: flex-start;
  justify-content: flex-start;
  height:100%;
  max-height: 100%;
  width:100%;
  min-width:auto;
  max-width:100%;
  padding: 0;
}
.Board-Content{
  display: flex;
  flex-direction: row;
  overflow-y:hidden;
  overflow-x:auto;
  align-items: flex-start;
  justify-content: flex-start;
  height:100%;
  max-height: 100%;
  min-height: auto;
}


.Board-Top-Tabbed{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom:10px;
}
.BoardTabs{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto 0;
  height: 30px;
  min-height: 30px;
}

.Tabs-Button{
  transition: all 0.3s ease-in-out;
  position: relative;
  margin: 0 5px 0;
  display: block;
  padding: 2px 5px;
  height: 30px;
  width:100px;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
}

.Tabs-Button::before{
  position: absolute;
  top:0px;
  left: 0px;
  right: 0px;
  content: ' ';
  width: 80px;
}
.Tabs-Button.sel,
.Tabs-Button:hover
{
}