.Board-Top{
display: flex;
flex-direction: row;
height: auto;
min-height: auto;
width: 100%;
min-width: 100%;
justify-content: center;
align-content: center;
}

.Board-Top h1{
  padding:0 0 0;
  font-size: 1vw;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -1.1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}


.Board-Top .BoardTopCenter{
  display: flex;
  width:100%;
  flex-direction: row;
  padding:0 0 0;
  align-self: center;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.Board-Top .BoardTopCenter > *{
  margin:0;
  margin:0 10px 0;
}

.toBack{
  display:flex;
  width: auto;
  height: auto;
  cursor: pointer;
  align-self: center;
  text-align: center;
  justify-content: center;
  align-content: center;
}
.toBack svg{
  height: 32px;
}

.Board{
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: row;
  min-height:100%;
  width:100%;
  min-width:auto;
  max-width:100%;
  overflow: hidden;
  padding: 0 8px;
}
.Board-Content-Wrap{
  display: flex;
  flex-direction: column;
  overflow-y:hidden;
  overflow-x:hidden;
  align-items: flex-start;
  justify-content: flex-start;
  height:100%;
  max-height: 100%;
  width:100%;
  min-width:auto;
  max-width:100%;
  padding: 0;
}
.Board-Content{
  display: flex;
  flex-direction: row;
  overflow-y:hidden;
  overflow-x:auto;
  align-items: flex-start;
  justify-content: flex-start;
  height:100%;
  max-height: 100%;
  min-height: auto;
}

.toBack{
  padding: 10px;
}
.toBack a{

}
.toBack .toBackLink{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
}
.toBack .toBackLink svg{
  height: 26px;
  width: 26px;
}
.EtapsWrap{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.Etaps{
  display: flex;
  flex-direction: column;
  width: 256px;
  height: auto;
  padding: 5px;
  border-radius: 3px;
  margin:0 0 0 0;
  min-height: 200px;
  box-shadow: 2px 2px 20px -4px rgba(0, 0, 0, 0.3);
}
.Board-Content-Tree{
  padding: 10px 10px 20px;
}