.button, button{
  display: block;
  text-align: center;
  padding: 5px;
  width:auto;
  cursor: pointer;
  border-radius: 2px;
  border:0px solid transparent;
  background: transparent;
  background-color: transparent;
}

.Button2{
  text-align: center;
  display: inline-block;
  max-width: 200px;
  padding: 8px 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
  overflow: hidden;
}
.Button3{
  display: inline-block;
  display: flex;
  max-width: 200px;
  padding: 5px 5px;
  margin:5px;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}


.Panel .Btn,
.InnerBar .Btn{
  width:auto;
  height:60px;
  margin:10px auto;
  text-align: center;
  width: 90%;
  height: 40px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}