
 input[type="text"],
 input[type="date"],
 input[type="datetime"],
 input[type="email"],
 input[type="number"],
 input[type="search"],
 input[type="time"],
 input[type="url"],
 input[type="list"],
 input[type="password"],
 textarea,
 select 
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	background: transparent;
	margin-bottom: 10px;
	font: 16px Arial, Helvetica, sans-serif;
  height: 45px;
}
 textarea{
	resize:none;
  overflow: auto;
  color: #fff;
}
 input[type="button"], 
 input[type="submit"]{
	display: inline-block;
	cursor: pointer;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
	padding: 8px 18px;
	text-decoration: none;
  text-transform: uppercase;
  border: none;
	/* border-bottom: 1px solid #ddd; */
	background: transparent;
}

 input[type="button"]:hover, 
 input[type="submit"]:hover {
  
}

input[type="button"],
input[type="submit"],
button,
.button
{
  box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	background: transparent;
	margin-bottom: 10px;
	font: 16px Arial, Helvetica, sans-serif;
  height: 45px;
}
button.mini{
  border: none;
  font-size: 80%;
}

input[type="submit"]:hover{

}

/********SUBMIT**********/

input[type="list"]{
  width:auto;
  min-width:auto;
  max-width:100%;
}

.LabelInputList{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}