.LoginPage{
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content:center;
  justify-items: center;
  width:100%;
  height:100%;
}
.ProfilePage{
  width:100%;
  height:100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content:center;
  justify-items: center;
}
.Profile{
  height: auto;

}
.auth{
  padding: 20px;
  border-radius: 6px;
  width:300px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content:center;
  justify-items: center;
}
.Profile.auth
{
  padding: 20px;
  border-radius: 6px;
  width:90%;
  height: auto;
  max-height: 90%;
  max-width: 1000px;

}
.ProfileInner{
  height: 100%;
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* align-items: center; */
  /* justify-content:center; */
}

.Profile.auth .authTop{
  width:100%;
  display: flex;
  flex-direction: row;
  height: auto;
  height:200px;
}
.Profile.auth .authContent{
  width:100%;
  display: flex;
  flex-direction: row;
  height: auto;
  min-height: 100%;
  /* justify-content: stretch; */
  justify-content: flex-start;
  align-items: flex-start;
  overflow-x: hidden;
  overflow-y: auto;
  flex-wrap: wrap;
}
.Profile.auth .authColumn{
  width:50%;
  height: auto;
  /* min-height: 100%; */
  display: flex;
  flex-direction: column;
  min-width: 300px;
  justify-content: flex-start;
  align-items: flex-start;
}
.LoginPage .UserName{
  font-size: 25px;
  text-transform: capitalize;
}
.LoginPage .button{
}


.authRow{
  width: 100%;
  margin: 10px 0;
}
.authRow .authRowName{
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.4px;
}
.authRow .authRowContent{
  margin:10px 0 0 20px;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.6px;
}
.authBottom{
  margin:10px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.authBottom .button{
  width: 64px;
  height: 32px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.4px;
}


@media all and (max-width:600px){
  .Profile.auth{
    padding: 4px;
    width:100%;
    height: 100%;
    
    max-width:100%;
    max-height: 100%;
    font-size: 1em;
  }
  .authRow .authRowContent{
    font-size: 14px;
    margin:5px;
  }
  .authRow .authRowName{
    font-size: 12px;
  }
  .authRow{
    margin:5px;
  }
  .Profile.auth .authTop{
    height: 70px;
  }
  .Profile.auth .UserRow .UserIcon{
    width:60px !important;
    height:60px !important;
    max-width:60px !important;
    max-height:60px !important;
  }
}