/******************FileRow**************/

.FileRow{
  margin: 5px 0;
  display: flex;
  width: 100%;
  /* height: 45px; */
  cursor:pointer;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.FileIcon{
  height: 32px;
  width: 32px;
  object-fit: contain;
  border-radius: 2px;
  margin:0 20px 0 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.FileIcon svg{
  margin:auto auto;
  height: 24px;
  width: 24px;
  display:flex;
  align-self: center;
  justify-self: center;
}
.FileIcon .Svg svg{

}
.FileIcon .Svg{
  border-radius: 3px;
  display:flex;
  align-self: center;
  justify-self: center;
}
.FileName{
  font-size: 12px;
  width: 100%;
}


/******************FileRow**************/
/******************UserRow**************/

.UserRow{
  margin: 5px 0;
  display: flex;
  width: 100%;
  /* height: 45px; */
  cursor:pointer;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  
}
.UserRow .UserIcon{
  /* flex:1 1 auto; */
  height: 32px;
  width: 32px;
  min-height: 32px;
  max-height: 32px;
  min-width: 32px;
  max-width: 32px;
  border-radius: 999em;
  margin:0 0 0;
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.UserRow .UserIcon svg{
  height: 100%;
  width:  100%;
}
.UserRow .UserIcon.Boxed{
  border-radius: 5px;
  width: 100%;
  margin:0;
}
.UserRow .UserName,
.RowBlock
{
  /* flex:2; */
  font-size: 12px;
  padding: 0 0 0 5px;
  width: 100%;
  height:100% !important;
  min-height: 100%;
  max-height: 100%;
  color:#fff;
  display: flex;
  flex-direction: column;
  /* font-size: 100%; */
  /* justify-content: flex-start; */
  /* text-align: center; */
  /* align-items: center; */
}
.RowBlock{
  padding: 0 0 0 5px;
  /* display: flex;
  flex-direction: column; */

}
.RowChildren{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.RowChildren .col{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.RowChildren .col:first-child{
  width:100%;
}
.RowChildren .col:last-child{

}

.UserNameText{
  font-size: 10px;
  text-transform: capitalize;
}
.MessageSimpleText{
  font-size: 10px;
}
.PadTop5{
  padding: 5px 0 0;
 }
/******************ButtonRow**************/

.ButtonRow{
  transition: all 0.3s ease-in-out;
  margin: 5px 0;
  display: flex;
  /* width: 140px; */
  height: 28px;
  border-radius: 2px;
  cursor:pointer;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 20px -2px rgba(0, 0, 0, 0.3);
}
.ButtonRow .ButtonIcon{
  /* flex:1 1 auto; */
  display: flex;
  height: 12px;
  width: 12px;
  margin:0 0 0;
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.ButtonRow .ButtonIcon .Svg{
  height: 100%;
  width:  100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.ButtonRow .ButtonIcon svg
{
  height: 100%;
  width:  100%;
}
.ButtonRow .ButtonName{
  /* flex:2; */
  margin:0 5px 0;
  font-size: 12px;
  /* width: 100%; */
}



/******************UserRow**************/
/******************ButtonRow**************/

.ButtonTo, .ButtonTo a{
  display: flex;
  cursor:pointer;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width:140px;
  /* padding:5px; */
}
.ButtonTo .ButtonIcon{
  /* flex:1 1 auto; */
  display: flex;
  height: 32px;
  width: 32px;
  margin:0 0 0;
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.ButtonTo .ButtonIcon svg{
  height: 100%;
  width:  100%;
}
.ButtonTo .ButtonName{
  /* flex:2; */
  margin:0 5px 0;
  font-size: 14px;
  /* width: 100%; */
}


/******************UserRow**************/

/* .RowBg{
  width:100%;
  padding: 2px;
  margin:2px;
} */
.RowBg{
  position: relative;
  width: 100%;
  padding: 2px;
  margin: 2px;
}
.UserRow.Col>*{
margin:0 auto 5px;
}


.TextRow{
  display: block;
  width: 100%;
}
.TextRow .TextRowName{
  font-size: 12px;
}
.TextRow .TextRowContent{
  margin:10px 0;
  padding:0 0 0 20px;
}
.Small,.s,.small{
  font-size: 12px;
}
.grey, .cgr{
  color: #a3b6c5;
}
.BigName, .BigName .TextRowName{
  font-size: 100%;
}
.noPad, .noPad>*{
  padding: 0 !important;
}
.noMar, .noMar>*{
  margin: 0 !important;
}
.Pad510{
  padding: 5px 10px;
}
.MT10{
  margin-top:10px;
}
.MB10{
  margin-bottom:10px;
}

.FakeLink{
  width: 100%;
  padding:10px;
  font-size: 12px;
  text-align: center;
  text-decoration: underline;
  border-radius: 5px;
  cursor: pointer;
}
.FakeLinkSvg{
  width: 100%;
  padding:0px;
  font-size: 12px;
  text-align: center;
  /* text-decoration: underline; */
  border-radius: 5px;
  cursor: pointer;
}
.FakeLinkSvg .Svg{
  margin:0 auto;
}
.FakeLinkSvg .Svg svg{
}
.UserRow.Col{
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ResponsibleRow{
  width:100%;
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
}
.ResponsibleRow > *{
  width:100%;
  font-size: 14px;
}
.ResponsibleRow .UserRow .UserName{
  font-size: 16px;
}


.IconRow,
.FileRow,
.TextRow,
.UserRow
{
  max-width: 300px;
}



.IconRow .Svg.ondelete,
.FileRow .Svg.ondelete,
.TextRow .Svg.ondelete,
.UserRow .Svg.ondelete,
.ResponsibleRow .Svg.ondelete
{
  width:10px;
  height:10px;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
.ButtonRow.MiniBox{
  position: absolute;
  top:10px;
  right:10px;
  width: 40px;
  max-width: 40px;
  min-width: 40px;
}